{% extends "_base.html" %}
{% from "macros/render_field.html" import form_field %}
{% block title %} login {% endblock title %}
{% block head %} {% endblock head %}
{% block body %}


    <div class="card">
        <div class="card-body">

            <h1 class="card-title">Log in</h1>

            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="{{ url_for('login') }}" method="POST">
                {{ form_field(form.name) }}
                {{ form_field(form.password) }}
                <br>
                <center>
                    <input type="submit" value="Log In" class="btn btn-primary">
                </center>
            </form>
        </div>

        <center>
            <a href="{{ url_for('register') }}">register here!</a>
            <br><br><br>
        </center>

    </div>

{% endblock body %}