{% extends "_base.html" %}
{% from "macros/render_field.html" import form_field %}
{% block title %} login {% endblock title %}
{% block head %} {% endblock head %}
{% block body %}


    <div class="card">
        <div class="card-body">

            <h1 class="card-title">Log in</h1>

            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="/login" method="POST">
                {{ form_field(form.name) }}
                {{ form_field(form.password) }}
                <br>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>

    </div>


    <a href="/register">Register</a>
{% endblock body %}