{% extends "_base.html" %}
{% block title %} registration {% endblock title %}
{% block head %} {% endblock head %}
{% block body %}
<h1>Register</h1>

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<form action="/register", method="POST">
    <div>
        {{ form.name.label }} <br> {{ form.name(size=20) }}
    </div>
    <br>
    <div>
        {{ form.password.label }} <br> {{ form.password(size=20) }}
    </div>
    <br>
    <div>
        {{ form.confirm.label }} <br> {{ form.confirm(size=20) }}
    </div>
    <input type="submit" value="submit">
</form>
{% endblock body %}